<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ASPNET_SAMPLEDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Komgrit\Desktop\5830213015\asp net\Class04 (1)\Class04\DB\ASPNET_SAMPLEDB.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="ASPNET_SAMPLEDBConnectionString2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Komgrit\Desktop\5830213015\asp net\Class04 (1)\Class04\DB\ASPNET_SAMPLEDB.mdf&quot;;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>